<h1>Details</h1>

<img
  src="<%= isbn %>"
  class="cover-image"
/>

<p><%= result.title %></p>
<p><%= author_name %></p>

<% if (typeof result.description !== 'undefined') { %>
<p><%= result.description.value %></p>
<% } else { %>
<p>No description available.</p>
<% } %>

<form action="/collections/addBook" method="POST">
  <fieldset>
    <label>Add to a Collection</label>
    <input type="text" name="collection_name" placeholder="Name" required />
    <input type="number" name="totalPages" required />
    <input type="hidden" name="title" value="<%= result.title %>" required />
    <input type="hidden" name="key" value="<%= result.key %>" required />
    <input type="hidden" name="author" value="<%= author_name %>" required />
    <input type="hidden" name="isbn" value="<%= isbn %>" />
    <input type="hidden" name="description" value="<%= result.description || 'No description available' %>" />
    <br /><br />

    <button type="submit">Submit</button>
  </fieldset>
</form>

<script src="/javascripts/cover_image.js"></script>
